body {
  user-select: none;
  background-color: #fff;
}
@media (min-width: 1900px) {
  .section-group {
    overflow-x: hidden;
  }
}
@font-face {
  font-family: "Constantia";
  src: url("‪C:/Windows/Fonts/constan.ttf");
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
