.menu > ul li:hover a span {
  cursor: pointer;
}

.gothic {
  font-family: "GmarketSansMedium";
}
.constantia {
  font-family: "Constantia";
}
.con {
  width: 1920px;
}
.section-group {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}
.section-group > .con {
  scroll-snap-align: start;
  box-sizing: border-box;
}

/* 상단바 */
.filter {
  top: calc(100% + 300px);
  left: 0;
  width: 1920px;
  height: 5000px;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: rgba(0, 0, 0, 0.6);
}
.menu ul:hover .filter {
  visibility: visible;
}
.active-1 {
  display: none;
}

.header {
  height: 90px;
  border-bottom: 1px solid #23232344;
  color: #232323;
}
.menu > ul {
  justify-content: flex-start;
  font-size: 18px;
}
.menu > ul::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  z-index: -1;
  visibility: hidden;
  border-bottom: 1px solid #232323;
  border-top: 1px solid #c4c4c4;
}
.menu > ul::after {
  content: "";
  position: absolute;
  top: 117%;
  left: 27.9%;
  width: 1px;
  height: 270px;
  background-color: #23232344;
  visibility: hidden;
}
.menu > ul:hover::before {
  visibility: visible;
}
.menu > ul:hover::after {
  visibility: visible;
}

.menu > ul > li {
  position: relative;
}
.menu > ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: #232323;
  font-size: 14px;
}
.menu > ul:hover > li > ul {
  display: block;
}
.menu > ul ul li > a {
  padding: 5px 0;
  line-height: 15px;
}
.menu > ul ul li:hover > a {
  text-decoration: underline;
  text-underline-position: under;
}
.menu > ul ul li {
  margin-top: 3px;
}
.menu > ul ul li:hover > a {
  font-weight: bold;
}
.menu > ul > li > a {
  position: relative;
}
.menu > ul > li > a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 1px;
  background-color: #232323;
  transition: width 0.4s;
}
.menu > ul > li > a:hover::before {
  width: 100%;
}
.menu > ul > li > a + div {
  display: none;
}
.menu > ul > li > a:hover + div {
  display: block;
}
.menu > ul ul > div {
  display: none;
}
.menu > ul ul:hover > div {
  display: block;
}
.active {
  background-color: white;
  color: #232323;
  border-color: #232323;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  height: 60px;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}

.deactive {
  color: #ffffff;
  background-color: transparent;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}
.add {
  display: none;
}
.add-1 {
  display: block;
}

.sub-02 {
  padding-bottom: 100px;
}
